/* cart */

.cart_product-card p,
.product-specific p,
.about p,
.product_price {
    font-weight: 200;
}

.cart_product-card {
    border-bottom: 1px solid #10171a;
    margin-bottom: 10px;
}

.cart_product-card img {
    max-width: 190px;
    float: left;
    padding: 0 30px 10px 0px;
}

.cart_product-list {
    display: grid;
    margin-top: 20px;
}

.cart_price {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 0.8em;
    text-align: right;
}

.price {
    text-align: right;
    margin-left: 20px;
}
.cart_delete {
    text-decoration: none;
    font-weight: 200;
    font-size: 1em;
}

.cart_delete:hover {
    text-decoration: underline;
}

.quantity-adjust-container {
    display: flex;
    margin-left: 10px;
}

.quantity-container {
    display: flex;
}

.quantity-container > *,
.quantity-adjust-container > * {
    align-self: center;
}

.quantity-adjust-container > * {
    margin: 2px 6px;
}

.quantity-adjust {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
