@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@import "imports/links.css";
@import "imports/variables.css";

@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap") format("truetype");
}

/* Shared */

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    margin: 20px;
}

h1 {
    font-size: 1.4em;
    margin-top: 10px;
    border-bottom: 1px solid #10171a;
}

h2 {
    margin-top: 30px;
    border-bottom: 1px solid #10171a;
    font-size: 1em;
    font-weight: 300;
}

h3,
.product-anchor,
h4 {
    font-weight: 500;
    font-size: 1.05em;
}

.breadcrumbs p {
    margin: 0px;
    font-size: 0.8em;
}

.payment-summary {
    text-align: right;
    font-size: 0.9em;
    font-weight: 500;
}

label {
    font-weight: 200;
    font-size: 0.8em;
}

.header__content {
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    padding: 4px 20px;
}

.header__cart {
    order: 1;
    margin-left: 50%;
}

header,
footer {
}

header .logo {
    display: inline-block;
    height: 100%;
}

header .icons {
    height: 28px;
}

.header__hamburger {
    z-index: 200;
    order: 2;
}

.header__cart-counter {
    background-color: #ec6226;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    padding: 0px 8px;
}

.fa-solid {
    color: #113340;
}

.reset-style {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #113340;
}

a:not(.cta):hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1280px;
    padding: 0px 30px;
}

footer a {
    margin-left: 5px;
}

footer p {
    font-size: 0.7em;
    margin: 0px;
    display: inline-block;
}

/* nav */

nav {
    display: none;
    z-index: 100;
    position: absolute;
    top: 10%;
    list-style: none;
    background-color: aliceblue;
    overflow-x: hidden;
    width: 100%;
    margin: -10vh -20px;
    padding: 20px 0px;
}

.navigation li {
    text-align: center;
    list-style: none;
    padding: 20px;
}

/* about */

.about img {
    width: 100%;
}

.about figcaption {
    font-size: 0.8em;
}

.about figure {
    max-width: 1000px;
    margin: auto;
}

.about {
    max-width: 1300px;
    margin: auto;
}

/* check-out success */

.checkout-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: #10171a;
    border-radius: 10px;
    display: none;
}

#click {
    display: none;
}

#click:checked ~ .checkout-success {
    display: block;
}

.checkout-success p {
    text-align: center;
    margin: 40px 50px;
    font-weight: 300;
}

.checkout-success p:first-child {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 60px;
}

.checkout-success p:nth-child(2) {
    font-size: 1.1em;
    font-style: italic;
}

.checkout-success p:nth-child(3) {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 100px;
}

.click-me {
    font-weight: 500;
}

.input-box input,
.input-box textarea {
    display: block;
    height: 2.6em;
    padding: 0 1em;
    font-size: 0.875em;
    line-height: 1;
    border-radius: 5px;
    border-width: 1px;
    border-color: #113340;
    width: 100%;
    box-sizing: border-box;
}

.input-box textarea {
    height: 200px;
}
.input-box_container {
    max-width: 1000px;
    margin: auto;
}
