@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap") format("truetype");
}

/* Shared */

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 20px;
}

h1 {
  font-size: 1.4em;
  margin-top: 10px;
  border-bottom: 1px solid #10171a;
}

h2 {
  margin-top: 30px;
  border-bottom: 1px solid #10171a;
  font-size: 1em;
  font-weight: 300;
}

h3 {
  font-weight: 500;
  font-size: 1em;
}

.breadcrumbs p {
  margin: 0px;
  font-size: 0.8em;
}

label {
  font-weight: 200;
  font-size: 0.8em;
}

.cta {
  display: block;
  padding: 4px 32px;
  border-radius: 11px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  color: #113340;
  background-color: #ffd300;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 120px;
  margin: 25px auto;
}

.icons {
  display: inline-block;
}

header {
  height: 50px;
  margin: 4px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: inline-block;
  height: 100%;
}

header .icons {
  height: 28px;
}

#hamburger-menu {
  display: none;
}

.fa-bars {
  color: #113340;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 48px;
  background: #cfcfcf;
  z-index: 1000;
  right: 0px;
}

a {
  text-decoration: none;
  color: #113340;
}

.active {
  text-decoration: underline;
}
nav ul {
  padding: 0px;
  margin: 0px 10px;
}

nav li {
  display: block;
}

nav a {
  display: block;
  padding: 10px 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

footer a {
  margin-left: px;
}
footer p {
  font-size: 0.7em;
  margin: 0px;
  display: inline-block;
}

/* cart */

.cart_product-card p {
  font-weight: 200;
}

.cart_product-list {
  display: grid;
  margin-top: 20px;
}

.cart_product-card {
  border-bottom: 1px solid #10171a;
  margin-bottom: 10px;
}

.cart_product-card a {
  display: inline-block;
  font-size: 0.8em;
}
.cart_product-card img {
  height: 200px;
  float: left;
  padding: 0 10px 10px 0px;
}

.cart_price {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 0.8em;
  text-align: right;
  gap: 10px;
}

.cart_price p {
  margin: 1px;
}

.cart_delete {
  text-decoration: underline;
}

.shipping-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.input-box input {
  display: block;
  height: 2.6em;
  align-content: center;
  padding: 0 1em;
  font-size: 0.875em;
  line-height: 1;
  border-radius: 5px;
  border-width: 1px;
  border-color: #113340;
}

/* home */
.home main {
  margin: 0px;
  background-image: url("/images/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cta-home {
  color: #fff;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  margin: 0px;
}

.cta-home:hover {
  color: #10171a;
  background-color: #fff;
}

.welcome h1 {
  font-size: 1.8em;
  margin-top: 30px;
  border-bottom: none;
}
.welcome {
  margin: 0px 20px;
}

/* jackets */

.product img {
  width: 100%;
}
/* responsive */

@media (min-width: 600px) {
  nav {
    display: block;
    position: static;
    background: none;
  }

  nav li {
    display: inline-block;
  }

  header label {
    display: none;
  }

  h1 {
    font-size: 2.2em;
  }

  p {
    font-size: 1.2em;
  }

  .cta {
    font-size: 24px;
  }
}
