@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap") format("truetype");
}

/* Shared */

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 20px;
}

h1 {
  font-size: 1.4em;
  margin-top: 10px;
  border-bottom: 1px solid #10171a;
}

h2 {
  margin-top: 30px;
  border-bottom: 1px solid #10171a;
  font-size: 1em;
  font-weight: 300;
}

h3,
.product-anchor,
h4 {
  font-weight: 500;
  font-size: 1.05em;
}

.breadcrumbs p {
  margin: 0px;
  font-size: 0.8em;
}

.payment-summary {
  text-align: right;
  font-size: 0.9em;
  font-weight: 500;
}

label {
  font-weight: 200;
  font-size: 0.8em;
}

.cta {
  display: block;
  padding: 4px 32px;
  border-radius: 11px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  color: #113340;
  background-color: #ffd300;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 130px;
  margin: 25px auto;
}

.icons {
  display: inline-block;
}

header {
  height: 50px;
  margin: 4px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: inline-block;
  height: 100%;
}

header .icons {
  height: 28px;
}

#hamburger-menu {
  display: none;
}

.fa-bars {
  color: #113340;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 48px;
  background: #cfcfcf;
  z-index: 1000;
  right: 0px;
}

a {
  text-decoration: none;
  color: #113340;
}

a:not(.cta):hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

nav ul {
  padding: 0px;
  margin: 0px 10px;
}

nav li {
  display: block;
}

nav a {
  display: block;
  padding: 10px 15px;
  font-size: 0.9em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

footer a {
  margin-left: 5px;
}

footer p {
  font-size: 0.7em;
  margin: 0px;
  display: inline-block;
}

/* cart */

.cart_product-card p,
.product p,
.about p {
  font-weight: 200;
}

.cart_product-list {
  display: grid;
  margin-top: 20px;
}

.cart_product-card {
  border-bottom: 1px solid #10171a;
  margin-bottom: 10px;
}

.cart_product-card img {
  height: 200px;
  float: left;
  padding: 0 10px 10px 0px;
}

.cart_price {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 0.8em;
  text-align: right;
}

.price {
  text-align: right;
  margin-left: 20px;
}
.cart_delete {
  text-decoration: underline;
}

.input-box input,
.input-box textarea {
  display: block;
  height: 2.6em;
  padding: 0 1em;
  font-size: 0.875em;
  line-height: 1;
  border-radius: 5px;
  border-width: 1px;
  border-color: #113340;
  width: 100%;
  box-sizing: border-box;
}

.input-box textarea {
  height: 200px;
}
.input-box_container {
  max-width: 1000px;
  margin: auto;
}

/* .input-box_small {
  float: left;
  width: 50%;
} */

/* home */
.home main {
  margin: 0px;
  background-image: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cta-home {
  margin-left: 0px;
}

/* .cta-home:hover {
  color: #10171a;
  background-color: #fff;
} */

.welcome h1 {
  font-size: 1.8em;
  margin-top: 30px;
  border-bottom: none;
}
.welcome {
  margin: 0px 20px;
}

/* jackets */

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
}
.product {
  margin: 20px;
}

.product-wrapper {
  height: 420px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.product-list img {
  margin: auto;
  max-height: 500px;
}

.product img {
  width: 100%;
}

.product-list .product {
  border-bottom: solid;
  border-width: 1px;
  border-color: #10171a;
}
/* about */

.about img {
  width: 100%;
}

.about figure {
  margin: 0px;
}

.about figcaption {
  font-size: 0.8em;
}

/* product-specific */

.product_price {
  font-size: 1.2em;
}

.product h2 {
  border: none;
}
/* responsive */

@media (min-width: 600px) {
  nav {
    display: block;
    position: static;
    background: none;
  }

  nav li {
    display: inline-block;
  }

  header label {
    display: none;
  }

  h1 {
    font-size: 2.2em;
  }

  .welcome h1 {
    font-size: 2.2em;
  }

  h2,
  h3,
  h4 {
    font-size: 1.2em;
  }

  p {
    font-size: 1.1em;
  }

  .product h1 {
    font-size: 1.4em;
  }

  .product h2 {
    font-size: 1.05em;
  }

  .product p {
    font-size: 1em;
  }
  @media (min-width: 800px) {
    .checkout-col1 {
      order: 1;
    }
    .checkout-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 100px;
    }

    .product-specific {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
    }
  }
}
